language: php
os: linux
dist: trusty

jobs:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

install:
  - travis_retry composer update --no-interaction --prefer-dist --no-suggest

script:
- vendor/bin/phpunit tests/